body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#puzzle {
    margin-top: 40px;
}

.kenken-cell {
    
    border: 1px solid black;
    position: relative;
    height: 100px;
    width: 100px;
}

.group-1 {
    background-color: orange
}

.group-2 {
    background-color: yellowgreen
}

.group-3 {
    background-color: aquamarine
}

.group-4 {
    background-color: cadetblue
}

.group-5 {
    background-color: darksalmon
}

.group-6 {
    background-color: orchid
}

.group-7 {
    background-color: slateblue
}

.kenken-group-label {
    position: absolute;
    font-size: smaller;
    color: black; 
    top: 0;
    left: 0;
}
