body {
    padding-top: 5%;
    padding-left: 5%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors,
.validationMessage {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.message {
    font-size: 16px;
}

.info {
    color: steelblue;
}

.solved {
    color: limegreen;
}

.error {
    color: tomato;
}

.puzzleOutline {
    border: 2px solid black;
}

.puzzleRow {
    clear: both;
}

.cell {
    position: relative;
    outline: 1px dotted lightgray;
    float: left;
    width: 60px;
    height: 60px;
}

.groupLabel {
    position: absolute;
    color: gray;
    z-index: 1;
}

.possibleValues {
    position: absolute;
    bottom: 1px;
    color: lightgray;
    text-align: center;
}

.alternativeValues {
    position: absolute;
    top: 1px;
    right: 1px;
    color: lightgray;
    text-align: center;
}

.cellValue {
    position: relative;
    top: -5px;
    text-align: center;
    font-size: 52px;
}

.cell input {
    outline: 2px solid steelblue;
    -ms-outline-offset: -1px;
    outline-offset: -1px;
    font-size: 20px;
    position: absolute;
    border: none;
    padding-top: 15px;
    padding-left: 5px;
    width: 100%;
    height: 100%;
}

.topBorder {
    border-top: 1px solid black;
}

.rightBorder {
    border-right: 1px solid black;
}

.bottomBorder {
    border-bottom: 1px solid black;
}

.leftBorder {
    border-left: 1px solid black;
}

button {
    border: none;
    width: 120px;
    height: 40px;
    color: white;
}

#isValidButton {
    margin-top: 5px;
    outline: 1px solid limegreen;
    background: limegreen;
}

#resetButton {
    outline: 1px solid tomato;
    background: tomato;
}

#notesPanel {
    float: right; 
    padding-right: 5%;
    border: 1px solid black;
}