@model KenKenWebapp.Models.PuzzleModel
@{
    ViewBag.Title = "Home Page";
}

<div id="puzzle">
    <table style="width: @Model.Puzzle.GetGridDimensions() * 50">
        @for (var x = 0; x < Model.Puzzle.GetGridDimensions(); x++)
        {
            <tr>
                @for (var y = 0; y < Model.Puzzle.GetGridDimensions(); y++)
                {
                    <td class="kenken-cell">
                        <div class="kenken-group-label">@Model.Puzzle.Groups[Model.Puzzle.GridCells[x, y].Group]</div>
                    </td>
                }
            </tr>
        }
    </table>
</div>