<div class="jumbotron">
    <h1>KenKen API</h1>
    <p class="lead">This API is meant as a technology demo and is not for general use.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Methods:</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h3>/Random?puzzleSize={int}</h3>
        <h5>[GET]</h5>
        <p>Given an integer between 3 and 9, returns a randomly generated puzzle in a X by X grid.</p>
    </div>
    <div class="col-md-4">
        <h3>/Check</h3>
        <h5>[POST]</h5>
        <p>Post the solved puzzle as it was returned from the 'Random' method with the values filled in, and returns a validity result with a list of errors.</p>
    </div>
</div>
